.home-container{
    padding-top: 110px; 
    padding-bottom: 20px;

    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    margin-top: auto;
}
.home-container h1{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home-container p{
    font-size: 1.3rem;
    color: #fff;
    font-weight: 400;
    margin-top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}