.home-container{
    padding-top: 110px; 
    padding-bottom: 20px;

    display:flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    box-sizing: border-box;
    margin-top: auto;
}
.home-container h1{
    font-size: 3rem;
    color: #fff;
    margin-bottom: 10px;
    line-height: 1.1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.home-container p{
    font-size: 1.3rem;
    color: #fff;
    font-weight: 400;
    margin-top: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.button-css{
    align-items: center;
    padding: 12px 20px;
    border-radius: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.1;
    margin: 0 30px;
    min-width: 120px;

    font-size: 0.95rem;
    font-weight: 600;
    letter-spacing: 0.5px;
    line-height: 1.1;

    outline: none;
    border: none;

    cursor: pointer;
    transition: all 0.2s ease-in-out;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.2);
}
.button-css:hover{
    background-color: rgb(99, 255, 133);
    transform: translate(-2px);
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.3);
}