.navbar-container{
    display: flex;
    gap: 24px;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: rgba(18,18,20,0.8);
    backdrop-filter: blur(8px); /*Efeito de vidro Fosco*/
    border-bottom: 1px solid rgba(255, 255, 255, 0,05);
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}
.nav-link{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.95rem;
    font-weight: 500;
    color: #9494a0;
    position: relative;
    padding: 6px 0;
    transition: color 0.3s ease
}
.nav-link:hover{
    color: #fff;
}
.nav-link::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 2px;
    background-color: #fff;
    transform: scale(0) ;
    transform-origin: right;
    transition: transform 0.3s ease;
}

.nav-link:hover::after{
    transform: scale(1);
    transform-origin: left;
}
.btn-back{
    color: #ff0000 !important;
    font-weight: bold;
    margin-right: 10px;
}
.btn-back::after{
    background-color: #ff0000;
}